<section>
    <div class="m-5">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark ">
                <tr class="border">
                    <th>Contest Id</th>
                    <th>Date</th>
                    <th>Contest Theme</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contest of contests">
                    <td>{{contest?.contestId}}</td>
                    <td>{{contest?.date}}</td>
                    <td>{{contest?.contestTheme}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
